<div>
    <p style="color: red;">Con un *ngIf indicamos si es o no mayor de 18 años(Mayor de edad)</p>
    <p>Nombre del empleado: {{nombre}}</p>
    <p>Edad: {{edad}}</p>
    <p *ngIf="edad>18">Es mayor de edad</p>

    <p style="color: red;">Mostramos los sueldos con un *ngfor</p>
    <table border="1">
        <tr>
            <td>sueldos</td>
        </tr>
        <tr *ngFor="let sueldo of sueldos">
            <td>{{sueldo}}</td>
        </tr>
    </table>
</div>

<router-outlet></router-outlet>
